.sign-in{
    .sign-in-title{
        font-size: 25px;
        //margin: 20px 25px;
        font-weight: 700;
        color: white;
    }
    .sign-in-form{
       // margin: 20px auto;
    }
    .sign-up-link{
        text-decoration: none;
        cursor: pointer;
        font-weight: 500;
        // color: #0d6efd;
    }
}