<div class="row">
    <div class="sign-up d-flex">
        <div class="sign-up-logo">
            
        </div>
        <div class="sign-up-form">
            <form  [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="userName">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else</div>
                </div>
                <div class="mb-3">
                    <label for="exampleMobNumb2" class="form-label">Mobile Number</label>
                    <input type="text" class="form-control" id="exampleMobNumb2" aria-describedby="emailHelp" formControlName="mobileNumber">
                    <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                    <div  *ngIf="signUpForm.errors?.['passwordMismatch']" class="invalid-feedback d-block">
                        Password and confirmPassword is not same.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" formControlName="confirmPassword">
                    <div *ngIf="signUpForm.errors?.['passwordMismatch']" class="invalid-feedback d-block">
                        Password and confirmPassword is not same.
                      </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.valid">Submit</button>
                </div>
                <div class="d-grid gap-2 mt-4 text-center">
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                    <a  class="text-primary sign-up-link" (click)="redirectToSignIn()"> Existing User? Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
